.loginlocal{
    display: grid;
    place-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 100px;
    padding-bottom: 100px;
}

.loginlocal > form >img{
    object-fit: contain;
    height: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.loginlocal > form{
    display: flex;
    flex-direction: column;
}

.loginlocal > form > div > input{
    width: 365px;
    height: 50px;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.loginlocal > form > button{
    width: 365px;
    height: 50px;
    font-size: large;
    color: white;
    background-color: #0074b1;
    border-radius: 5px;
}

.loginlocal > span {
    color: #0074b1;
    cursor: pointer;
    justify-content: center;
}

.loginlocal > p{
    margin-top: 20px;
}